@import "../../main.scss";

.wrapper {
    height: fit-content;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: $headerHeight $desktopScreenIndentation;

    @include tabletTop {
        padding: $headerHeight $phoneScreenIndentation;
    }
}

.title {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: $titleFontSize;
    color: $grey;
    text-transform: uppercase;
    margin-bottom: 10vh;
    text-align: center;

    @include tabletBottom {
        margin-bottom: 5vh;
        font-size: $middleFontSize;
    }
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20vh;

    @include tabletBottom {
        justify-content: center;
        margin-bottom: 10vh;
    }
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    
    @include tabletBottom {
        margin: auto;
        padding-bottom: 10px;
    }
}

.itemImg {
    margin-bottom: 30px;
}

.itemName {
    margin-bottom: 30px;
    font-size: $preMiddleFontSize;
    text-align: center;
}

.itemBtn {
    padding: 10px 20px;
    background: linear-gradient(0deg, #CCE9B0 0%, rgba(204, 233, 176, 0) 100%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 88px;
    cursor: pointer;
}

.description {

    @include tabletBottom {
        width: 100%;
    }
}