@import "../../main.scss";

.wrapper {
    height: 500px;
    width: 500px;
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid grey;

    @include tabletBottom {
        height: 300px;
        width: 300px;
    }
}

.map {
    height: 100%;
    width: 100%;
}