@import "../../main.scss";


.wrapper {
    height: fit-content;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: $headerHeight $desktopScreenIndentation;

    @include tabletTop {
        padding: $headerHeight $phoneScreenIndentation;
    }
}

.title {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: $titleFontSize;
    color: $grey;
    text-transform: uppercase;
    margin-bottom: 10vh;

    @include tabletBottom {
        margin-bottom: 5vh;
        font-size: $middleFontSize;
    }
}

.container {
    display: flex;
    align-items: center;

    @include tabletBottom {
        flex-direction: column;
        align-items: center;
    }
}

.map {
    margin-right: 60px;

    @include tabletBottom {
        margin-right: 0;
        margin-bottom: 30px;
    }
}

.item {
    display: flex;
    align-items: center;
    margin-bottom: 40px;

    &:last-child {
        margin: 0;
    }
}

.itemImg {
    margin-right: 20px;

    @include tabletBottom {
        flex-direction: column;
    }
}